@mixin btn {
text-decoration: none;
    border: 1px solid #2C4058;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    width: 138px;
    height: 37px;
    padding-top: 10px;
    color: black;
    margin-bottom: 20px;
    
}