/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container-1 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0px;
}

.logo {
  float: left;
  margin-top: 37px;
}

.main-section {
  background: url(../assetss/img/bcg.png), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 802px;
}

.main-nav__link {
  margin-top: 28px;
  font-family: "Source Sans Pro", sans-serif;
}

.socials {
  margin-top: 28px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  color: #fff;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
}

.hero__title,
.hero__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #fff;
}

.hero__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 71px;
  position: relative;
  top: 163px;
}

.hero__title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.1em;
  color: #fff;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.3em;
  color: #fff;
  line-height: 79px;
}

section {
  margin-top: 20px;
}

.mission__title, .trade-center__title, .trade-center__subtitle, .commerce-center__title, .commerce-center__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.mission__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-top: 15px;
}

.mission {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 86px;
  margin-bottom: 50px;
}

.line {
  padding-right: 17px;
  position: relative;
  top: -14px;
}

.trade-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.trade-center__information {
  padding: 12px;
  margin-top: 33px;
}

.trade-center__subtitle {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
}

.trade-center__title {
  font-weight: 700;
  font-size: 36px;
  color: #2C4058;
  margin-bottom: 20px;
}

.trade-center__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 20px;
}

.first-project-pic {
  width: 395px;
  height: auto;
  position: relative;
  z-index: 1;
  left: 135px;
  bottom: 250px;
}

.blue-square {
  width: 371px;
  height: 276px;
  background: #55B7FF;
  position: relative;
  left: -47px;
}

.commerce-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.commerce-center__information {
  margin-top: 33px;
  padding: 12px;
}

.commerce-center {
  margin-top: -100px;
}

.violet-square {
  width: 386px;
  height: 276px;
  position: relative;
  background: #7E5AFF;
  left: 244px;
}

.second-project-pic {
  width: 395px;
  height: auto;
  position: relative;
  z-index: 1;
  left: 101px;
  bottom: 235px;
}

.commerce-center__subtitle {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  color: #2C4058;
}

.commerce-center__title {
  font-weight: 700;
  font-size: 36px;
  color: #2C4058;
  margin-bottom: 20px;
}

.commerce-center__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 20px;
}

.news {
  background: url(../assetss/img/city.png), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 1035px;
  margin-top: -216px;
}

.gallery__grid-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}

.gallery__first-pic {
  grid-area: 1/1/3/3;
}

.gallery__second-pic {
  grid-area: 1/3/2/4;
}

.gallery__third-pic {
  grid-area: 2/3/3/4;
}

.gallery__fourth-pic {
  grid-area: 1/4/2/5;
}

.gallery__fifth-pic {
  grid-area: 2/4/3/5;
}

.location__image {
  background: url(../assetss/img/map.png) no-repeat center;
  width: 100%;
  height: 660px;
  position: relative;
  display: flex;
  justify-content: center;
}

.location__contact {
  background: url(../assetss/img/city02.png) no-repeat bottom;
  width: 750px;
  height: 400px;
  position: absolute;
  bottom: -18%;
  background-color: #FFFFFF;
}

.location__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  width: 332px;
  height: 80px;
  margin-left: 25%;
  margin-top: 30px;
}

.contact {
  width: 85%;
  height: 196px;
  margin-top: 50px;
  margin-left: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.info {
  margin-bottom: 20px;
  height: 35px;
}

.contact-text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #000000;
}

.form-info-text {
  display: flex;
  align-items: center;
}

.form-info-text::before {
  content: "";
  background: url(../assets/location-icon.svg) no-repeat center;
  width: 20px;
  height: 20px;
  float: left;
}

.form-info__time {
  height: 30px;
}

.form-info__name img {
  width: 270px;
  height: 2px;
}

.form-info__name h3 {
  width: 127px;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.contact__email {
  height: 41px;
  margin-top: 32px;
}

.contact__email img {
  width: 270px;
  height: 2px;
  opacity: 0.3;
}

.email {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4B5562;
  opacity: 0.5;
  margin-top: 37px;
}

.button-form {
  margin-left: 44%;
  margin-top: 23px;
}

.button {
  text-decoration: none;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  width: 138px;
  height: 37px;
  padding-top: 10px;
  color: black;
  margin-bottom: 20px;
}

.button a {
  text-decoration: none;
  color: black;
}

.gallery-pics {
  transition: 0.5s;
}

.gallery-pics:hover {
  transform: scale(1.3);
}

.arrow {
  margin-left: 574px;
}

.pin {
  position: absolute;
  top: -251px;
  left: 235px;
}

footer {
  background: url(../assetss/img/footer-pic-1.png) no-repeat center, linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  height: 498px;
  display: flex;
  justify-content: center;
}

.main-footer {
  width: 750px;
  height: 240px;
  margin-top: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-logo {
  width: 241px;
  height: 112px;
  z-index: 1;
}

.footer-social {
  margin-bottom: 50px;
}

.footer-logo p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 38px;
}/*# sourceMappingURL=main.css.map */