.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: aqua;
}

.logo {
    float: left;
    margin-top: 37px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;

    
}

.main-nav a{
            text-decoration: none;
        
}